{# [/ || /index]: user not logged in #}
{% extends "Dependencies/Wrapper_Userless.html" %}
{% block body %}

<title>The Project Ark</title>
<h1 class='text-center'>Welcome To The Project Ark</h1>
<h2 class='text-center'>Currently under development</h2>
<table>
	<tr>
		<td>
			<blockquote class="blockquote text-center">
				<p class='text-justify' style='padding-left:16px;'>
					With technology becoming more prevalent in business, churches are finding it increasingly 
					difficult to keep up with these changes both in terms of software and finances.  To assist with this, 
					The Project Programming Ark provides a free platform for those who administer God’s churches to 
					post software and technology requests.  These requests are met by volunteers, who would like to 
					contribute in the name of our Lord by fulfilling or assisting in the fulfillment of the posted requests 
					as a donation.  The software is either uploaded to the platform or sent directly to the church.
				</p>
			</blockquote>
		</td>
		<td>
			<img src='{{ url_for("static", filename="Images/Logo/TPA_Logo.2020.09.07.png") }}'>
		</td>
	</tr>
</table>

{% endblock %}